* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f4f4f4;
}

/* NAVBAR */
.navbar {
  background: #1f2937;
  color: white;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background: white;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta {
  background: #3b82f6;
  border: none;
  padding: 12px 25px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.hero-img img {
  width: 420px;
  border-radius: 10px;
}

/* SERVICES */
.features {
  text-align: center;
  padding: 50px;
  background: #ffffff;
}

.feature-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card {
  background: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  width: 180px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 8px;
  font-weight: bold;
}

/* QUOTE */
.quote {
  background: #e5e7eb;
  padding: 60px;
  text-align: center;
  font-size: 24px;
  font-style: italic;
}

/* CONTACT */
.cta-section {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.cta-box {
  background: #3b82f6;
  color: white;
  padding: 30px 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}

footer {
  background: #1f2937;
  color: white;
  padding: 20px;
  text-align: center;
}
